/* Global Variables */
body{
    font-family: 'Hind Siliguri', sans-serif;
    background-color: rgb(6, 87, 119);
    color: seashell;
    font-size: 18px;
    line-height: 27px;
}

.fake-news{
    display: block;
    margin: 35px auto;
    width: 80%;
    height: 560px;

}

.eric-tweet{
    display: block;
    margin: 45px auto;
    width: 49%;
    height: 610px;
    border: 3px solid rgba(52, 182, 221, 0.883);
    border-radius: 2px;
}

main{
    width: 80%;
    margin: 71px auto;
    border: 5px solid gold;
    border-radius: 9px;
    box-shadow: gold;
    padding: 20px 45px;
}

a{
    text-decoration: none;
    color: yellow;
}

a:hover{
    opacity: 0.6;
    text-decoration: underline;
}